@charset "uft-8";

/* Section Styles */

#main-column {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

section {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 50px;
}