@charset "uft-8";

/* Section Styles */

#main-column {
    width: 100%;
}

section {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

section img {
    border: 1px solid gray;
    border-radius: 5px;
}

section .left {
    float: left;
    margin: 6px 12px 3px 6px;
}

section h3 {
    color: #4c6080;
    padding: 10px;
    font-size: 20px;
    line-height: 1.8em;
}

section p {
    color: #4c6080;
    padding: 10px;
    font-size: 18px;
    line-height: 1.8em;
    text-align: left;
}

section .embed {
    border: 2.5px solid gray;
    border-radius: 4px;
}

section .caption {
    padding: 5px;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#space {
    height: 120px;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
    section .embed {
        width: 58vw;
        height: 500px;
    }
}

@media screen and (max-width: 620px) {
    section .left {
        float: none;
    }
}

@media screen and (max-width: 400px) {
    section img {
        max-width: 56vw;
    }
    section h3 {
        font-size: 5vw;
        }
    section p {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 280px) {
    section img {
        width: 168px;
    }
    section h3 {
        font-size: 14px;
    }
    section p {
        font-size: 12.6px;
    }
}