@charset "uft-8";

/* Main Styles */

body {
    background-color: rgb(155, 162, 191);
    font-family: 'Fauna One', serif;
}

/* Header Styles */

header {
    background-image: linear-gradient(to top, #b9c6df, #eff2ff);
    border-bottom: 2px inset gray;
}

header h1 {
    color: #667389;
    font-family: "Sofia", sans-serif;
    text-align: center;
    font-size: 36px;
    padding: 12px;
    text-shadow: 0.8px 0.8px 2px black;
}

header p {
    color: #667389;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    font-style: italic;
}

/* Navigation Bar Styles */

nav {
    display: flex;
    width: 60%;
    margin: auto;
}

nav a {
    flex: 33.33%;
    color: #667389;
    text-align: center;
    font-size: 22px;
    line-height: 1.2em;
    padding-bottom: 6px;
    margin: 16px;
    transition: color 0.5s;
}

nav a:hover {
    color: #181818;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

#current_page {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

/* Footer Styles */

footer {
    background-image: linear-gradient(to bottom, #b9c6df, #eff2ff);
    width: 100%;
    border-top: 2px outset gray;
 }
 
footer p {
    color:#616c80;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo {
    float: right;
    opacity: 0.55;
}

/* Media Queries */

@media screen and (max-width: 550px) {
    nav {
        flex-wrap: wrap;
    }
    nav a {
        flex: 100%;
    }
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 9vw;
    }
    header p {
        font-size: 4.5vw;
    }
    nav a {
        font-size: 5.5vw;
        margin: 4px;
    }
}

@media screen and (max-width: 280px) {
    header h1 {
        font-size: 25.2px;
    }
    header p {
        font-size: 12.6px;
    }
    nav a {
        font-size: 15.4px;
    }
}